# MLflow settings 
MLFLOW_HOST=0.0.0.0
MLFLOW_PORT=5000

# DB credentials
PG_HOST=<YOUR-PROSTGRES-SERVER>
PG_PORT=6432
PG_USER=<DB-USER-NAME>
PG_PASS=<DB-USER-PASSWORD>
PG_DB=<DB-NAME>

# S3 credentials
S3_BUCKET=<YOUR-S3-BUCKET>
MLFLOW_S3_ENDPOINT_URL=https://storage.yandexcloud.net
AWS_ACCESS_KEY_ID=<YOUR-ACCESS-KEY>
AWS_SECRET_ACCESS_KEY=<YOUR-SECRET-KEY>
AWS_REGION=ru-central1
AWS_SIGV=s3v4

# Bank Product Recommendations Service
APP_HOST=ml-service
APP_NAME=Recsys
APP_PORT=8080
APP_SETTINGS_DIR=settings

BP_DATA_FILE=bank_products/test_data.parquet
BS_S3_STORAGE=True
BP_REG_MODEL_NAME=bank_products_3PX
BP_FLAVOR=catboost
BP_TRACKING_URI=http://mlflow-server:5000
BP_STAGE=Production
BP_SETTINGS=bp_settings.yaml
BP_THRESHOLD=0.5
BP_TOP_K=3

# Monitoring settings
PROMETHEUS_PORT=9090

GRAFANA_PORT=3000
GRAFANA_USER=admin
GRAFANA_PASS=grafana