# Креды для подключения к базе данных
DB_DESTINATION_HOST=<your-destination-db-host>
DB_DESTINATION_PORT=<your-destination-db-port>
DB_DESTINATION_NAME=<your-destination-db-name>
DB_DESTINATION_USER=<your-destination-db-username>
DB_DESTINATION_PASSWORD=<your-destination-db-password>

# Таблицы базы данных
TBL_BUILDINGS=buildings
TBL_FLATS=flats
TBL_DST=flats_fstore
TBL_DST_CLEAN=flats_fstore_clean

# S3 Connection / Соединение с S3
S3_BUCKET_NAME=<your-s3-bucket-name>
AWS_ACCESS_KEY_ID=<your-s3-access-key>
AWS_SECRET_ACCESS_KEY=<your-s3-secret-key>