AWS_ENDPOINT_URL=https://storage.yandexcloud.net
AWS_REGION=ru-central1
AWS_S3_BUCKET=<BUCKET_NAME>
AWS_ACCESS_KEY_ID=<ACCESS_KEY>
AWS_SECRET_ACCESS_KEY=<SECRET_KEY>
AWS_SIGV=s3v4

APP_NAME=Recsys
RECS_DIR=recsys/recommendations
PERSONAL_RECS_FILE=recommendations.parquet
POPULAR_RECS_FILE=top_popular.parquet
SIMILAR_RECS_FILE=similar.parquet
LAST_EVENTS_FILE=last_events.parquet

LAST_TRACK_RATIO=[5, 3, 2]
ONLINE_RATIO=0.5
RECS_COUNT=10

EVENTS_STORE_URL=http://localhost:8080/events_store

TEST_DATA=data/events.parquet
RECSYS_URL=http://localhost:8080/recs
SPLIT_DATE=2022-12-16